/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-inline: 1rem;
}

/* container */
#testoAlternato {
    border: 1px solid black;
    padding: 2rem;
}

#testoAlternato p {
    line-height: 2rem;
    font-size: 1.3rem;
}