/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-inline: 1rem;
}

/* container */
#testoAlternato {
    border: 1px solid black;
    padding: 2rem;
}

#testoAlternato p {
    line-height: 2rem;
    font-size: 1.3rem;
}

.slidingVertical {
    /* word-break: keep-all; */
}


/* ANIMATIONS */


/* .parole {
    font-weight: bold;
    color: deepskyblue;
} */

/* .parole-animate {
    animation: parole-animation 3s ease-in;
} */



/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 8s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
}


/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
